snippet new
<template>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class $0 extends Vue {
}
</script>

<style lang="scss">
</style>
endsnippet

snippet slot
<slot>$0</slot>
endsnippet

snippet slot.
<slot name="$1">$2</slot>
endsnippet

snippet rl
<router-link to="$1">$2</router-link>
endsnippet
