snippet new
<template>
${0}
</template>

<script>
export default {}
</script>

<style lang="stylus">
</style>
endsnippet

snippet slot
<slot>$0</slot>
endsnippet

snippet slot.
<slot name="$1">$2</slot>
endsnippet

snippet rl
<router-link to="$1">$2</router-link>
endsnippet
