snippet api
/**
 * @api ${1: get} ${2: path}
 * @apiName ${3: unique name}
 * @apiGroup ${4: unique Group}
 *
 * $5
 */
endsnippet

snippet apiDefine
/**
 * @apiDefine ${1: name}
 * $2
 */
endsnippet
